
body, html { /* set size of body to full page and remove margins */
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial,Liberation Sans,DejaVu Sans,sans-serif;
    font-size: 12px;
}


#canvas-div{
    width: 99%;
    height: 95%;
    margin: 5px;
    background-color: #ccc;    
    width: 100%;
    overflow: scroll;
}

div.ui-input-text {
    width: 50px !important;
    float: right;
    margin-right: 10px;
}

#objects-spinner{
    width: 50px;
}

.ui-icon-rect{
    background-image: url(images/icons/rect.png) !important;    
}

.ui-icon-square{
    background-image: url(images/icons/square.png) !important;    
}
.ui-icon-circle{
    background-image: url(images/icons/circle.png) !important;    
}
.ui-icon-triangle{
    background-image: url(images/icons/triangle.png) !important;    
}
.ui-icon-hexagon{
    background-image: url(images/icons/hexagon.png) !important;    
}
.ui-icon-octagon{
    background-image: url(images/icons/octagon.png) !important;    
}

.ui-icon-download{
    background-image: url(images/icons/download.png) !important;    
}

.ui-icon-clear{
    background-image: url(images/icons/clear.png) !important;    
}

.ui-icon-chrome{
    background-image: url(images/icons/Google-Chrome-icon.png) !important;    
}

.range-setter{
    width: 220px;
    cursor: pointer;
}

.colorpicker{
    z-index: 200;
    cursor: pointer  !important;
}


.cpicker{
    width: 100px !important;
    height: 40px;
    border: thin solid;
    cursor: pointer;
    background-color: white;
    margint: 5px;
}

.option-row{
    margin: 10px;
}


#basic-buttons-div{
    float: right;
}

#shapes-control-div{
    float: left;
}

#toolbar{
    
}

#main-div{
    width: 100%;
    height: 100%;
    text-align: center;
}
.numeric-input{
    width: 40px;
}

.slider{
    margin: 3 !important;
}