<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>Happy_Shapes</servlet-name>
		<servlet-class>com.devart.happyshapes.Happy_ShapesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Happy_Shapes</servlet-name>
		<url-pattern>/happy_shapes</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ajax</servlet-name>
		<servlet-class>com.devart.happyshapes.AjaxServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ajax</servlet-name>
		<url-pattern>/ajax</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
